<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="../../resources/css/template.css">
  		<script type="text/javascript">
  		$(()=>{
  			$("#btnmainInfo").click(()=>{
  				$(".mainInfo").show();
				$(".memberReview").hide();
  			});
  			
  			$("#btnmemberReview").click(()=>{
  				$(".mainInfo").hide();
				$(".memberReview").show();
		
  			});
  			
  			let var1 =0;
  			
  			$("#plus").click(()=>{
  				++var1;
  				console.log(var1);
  				$("#amount").text(var1);
  			});
  			
			$("#minus").click(()=>{
  				--var1;
  				console.log(var1);
  				if(var1<0){
  					var1 = 0;
  				}
  				$("#amount").text(var1);
  			});
  			
  		}); /*레디안에 넣어*/
  			
  		</script>
		
	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="headerul1">

					<button class="btn btn-sm">영업점안내</button>
					<button class="btn btn-sm">고객센터</button>
					<button class="btn btn-Light"><a href="../../view/admin/Update.html">수정</a></button>
					<button class="btn btn-Light"><a href="../../view/admin/Create.html">등록</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">나의쇼핑</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">쇼핑카트</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">회원가입</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">로그인</a></button>

					<br/>
				</div>


				<div id="divheader">
					<h1><a href="../../index.html"><img src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>


					<div id="divheader2">
						<input id="석봉갓" width="500px" type="text" placeholder="찾고자 하는 도서를 입력해주세요.">
						<img  src="../../resources/img/검색.PNG">
					</div>


				</div>

				<ul id="headerul2">
					<button class="btn btn-sm"><a href="../../view/list/book_list1.html">현대소설</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list2.html">자기개발서</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list3.html">해외소설</a></button>


				</ul>

			</header>
	
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="second">
				<div class="detail" id="pic1">
					<img alt="book.jpg" 
					src="http://image.kyobobook.co.kr/images/book/xlarge/598/x9788901150598.jpg" height="500px">
				</div>
				
				<div class="detail" id="info">
					<div id="detail_info">
						<ul>
							<h2> 습관의 힘 </h2>
							<h4> 반복되는 행동이 만드는 극적인 변화
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;
								</h4>
							
							<li><div id="infoL">지은이 :  </div> <div id="infoR"> 찰스 두히그</div></li>
							<li><div id="infoL">옮긴이 :  </div> <div id="infoR"> 강주헌</div></li>				

						</ul>
						<hr/>
					</div>
					
					<div id="detail_info">
						<ul>
							<li><div id="infoL">정가 : </div> <div id="infoR">16,000원</div></li>
							<li><div id="infoL">판매가격 : </div><div id="infoR">
								<div style="display: inline; font-size: 25px; color: red;">14,400원</div>
								<div style="display: inline;">[10% 할인]</div></div>
								
								</li>
							<li><div id="infoL">배송비 : </div> <div id="infoR">무료</div></li>
							
						</ul><hr/>
					</div>
					<div id="detail_info">
						<!-- 수량 업다운 자바스크립트에서 배운거로 할 수 있는건가?! -->
						
						<p  style="display: inline-block; width: 60px; margin-left: 30px; font-size: 15px;">수량 : </p>
						<p id="amount" style=" display: inline-block; width: 60px;"> 0</p>
						<button id="plus" style="background-color:#917354; color: white; "> + </button>
						<button id="minus" style="background-color:#917354; color: white; "> - </button>
						<hr/>
					</div>	
					
					<button  type="button" onclick="location.href='../cart/Cart.html' " class="btn btn-lg" 
					style="margin-left: 50px; background-color:#917354; color: white; ">장바구니 가기 </button>
					<!-- <button  type="button" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 즉시 구매하기 </button> -->
				</div>				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="chooseBox">
				<button id="btnmainInfo" class="btn btn-lg" style="background-color:#917354; color: white; "> 상세정보 </button>
				<button id="btnmemberReview" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 회원리뷰 </button>
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="mainInfo">
				<div class ="subInfo" id="intro" style="margin-botton: 20px;"><h4> 책 소개 </h4>	<hr/>
						당신이 바꾸고 싶은 습관은 무엇입니까?<br/><br/>
						반복되는 행동이 만드는 극적인 변화『습관의 힘』. 하버드 MBA 출신 뉴욕타임스 심층보도 
						전문 기자 찰스 두히그가 자신의 나쁜 습관을 고치기 위해 발로 뛰어 밝혀 낸 스마트한 습관 사용법을 제시하였다. 
						저자는 700여 편의 학술 논문과 수십여 다국적 기업에서 실시한 비공개 연구 자료를 파헤치고, 300여 명의 과학자
						와 경영자를 인터뷰하면서 습관이 개인적인 삶을 넘어 조직, 기업, 사회에까지 매우 큰 영향을 끼치고 있다는 것을 발
						견했다.
						<br/>
						7퍼센트의 미국인만 사용했던 치약이 어떻게 전 세계인의 필수품이 되었으며, 
						마이클 펠프스는 최악의 상황에서 어떻게 세계 신기록을 세울 수 있었는지, 스타벅스는 어떻게 
						말썽꾸러기 직원을 1년 만에 최우수 사원으로 만들었는지 등 다양한 사례를 통해 좀처럼 변하지 
						않는 자신과 세상을 간단하고 완벽하게 바꿀 수 있는 방법을 소개한다. 누구나 원하지만 뜻대로 되
						지 않는 일들의 중심에는 습관이 있다는 것을 알려주고, 왜 우리가 후회할 줄 알면서도 같은 일을 반복하
						고 있었는지를 깨닫게 해준다.					
					<br/><br/>
				</div>
				
				<div class ="subInfo" id="writer" style="margin-bottom: 10px;"><h4> 저자 </h4><hr/>
				
					찰스 두히그<br/>
					구분 : 저서<br/>
					국적 : 미국<br/>
					분류 : 경제/경영/자기계발 저자<br/>
					인기지수 : 9,922<br/>
				<br/>
					뉴욕타임스 기자. 예일 대학교에서 역사학을 전공했고, 하버드 대학교 경영대학원에서 석사학위(MBA)를 받았다. 
					미국 5대 일간지 중 하나인 로스앤젤레스타임스 기자를 거쳐 2006년부터 뉴욕타임스에 몸담았다. 
					그 후 해마다 민감하고 중요한 사회적 이슈를 날카롭게 파헤치는 대형 기획 기사를 발표하여 명성을 얻었다. 
					2007년 미국 노년층을 겨냥한 새로운 사업 모델을 만든 기업들을 취재한-황금의 기회들-, 
					2008년 미국 금융 위기의 원인과 영향을 심층 분석하여 퓰리처상 최종 후보에까지 오른 -심판-(공동 취재), 
					2009년 미국 수자원 오염 실태를 고발한 <독이 든 물> 등은 전 미국에 큰 파장을 몰고 왔다. 
					이라크 전쟁의 한복판에서 미국 캘리포니아 애플 본사까지 이슈가 있는 곳이라면 어디든 달려가는 
					취재력과 드러나지 않은 진실을 포착하는 날카로운 눈, 복잡한 주제를 쉽고 흥미진진하게 전달하는 
					문장력을 인정받은 그는 미국 과학학술원 상, 미국언론인협회 상, 제럴드 로브 상 등 미국 언론인이 받을 수 있는 거의 모든 상을 받았다.
					 2010년 MIT 공학학술회의에 기조연설자로 초빙되었으며, 2012년에는 애플을 비롯한 첨단 기업이 이끌어 가는 세계 경제를 전망하는
					  시리즈에 참여하여 다시 한 번 주목을 받고 있다. 영향력 있는 저널리스트를 넘어 베스트셀러 저자가 된 찰스
					   두히그는 현재 차기작이 가장 기대되는 작가로 떠오르고 있다
				<br/><br/>
				</div>
				
				<div class ="subInfo" id="index" style="margin-bottom: 10px;"><h4> 목차 </h4>
				<hr/><p>
					Prologue -나와 세상을 바꾸는 힘 <br/>
					1부 개인의 습관: 반복되는 행동으로 극적인 변화를 만든다<br/>
					2부 기업의 습관: 성공한 기업은 습관을 어떻게 이용하는가<br/>
					3부 사회의 습관: 절대 바뀌지 않는 세상을 바꾸는 힘<br/>
					Appendix 누구나 습관을 바꿀 수 있다 - 좋은 습관을 갖기 위한 4단계 법칙<br/>
				</p>
					
				</div>
				
				
			</div>
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="memberReview">
				<div class ="subInfo" id="reviews" style="margin-bottom: 10px; font-family: 'NEXON Lv1 Gothic OTF Bold'; 
				color: #917354;"><h4> 회원리뷰 </h4><hr/>
				
				</div>
			
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> lj**202  </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★ </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;"> 2020-07-15  </div></li>
							
					</ul>
					</div>
					<div id="review"><p>
							우리는 수많은 것들을 매일같이 한다. 행동을 하는데 있어 의식하며 하는 것이 극히 드물다. 
							대부분 무의식적으로 한다. 예를 들어 식사할 때 숟가락이나 젖가락으로 음식을 집을 때 전혀 생각하지 않는다. 
							오히려 밥을 먹으면서도 신나게 떠들고 딴 생각도 한다. 처음부터 그러진 않았다. 
							온 정신을 집중해서 젖가락으로 음식을 집어야 했다. 이런 상황은 fMRI로 뇌를 관찰했을 때도 나온다. 
							사람은 자신에게 익숙한 것은 뇌가 움직이지 않지만 그렇지 않을 때 활발하다.<br/>
							습관을 정착하기 위해서 초기에는 의식적인 행동을 해야한다. 
							아무런 습관이 형성되어 있지 않기에 나도 모르게 평소에 하던대로 한다. 
							습관을 고치기 힘든 이유다. 늘 하던 패턴이 있는데 이걸 갑자기 변경한다는 것은 말도 안 된다. 
							다만 한 번 습관이 정착되면 의식하지 않아도 알아서 내 몸이 반응하고 나도 모르게 움직인다.
							 내가 아무런 신경을 쓰지 않아도 어떤 행동을 하고 있다면 그건 습관으로 정착되었다고 봐도 된다. 
							 그럼에도 우리 몸에 있는 나쁜 습관은 언제나 호시탐탐노리고 있다.
					</p></div>
					<hr/>
				</div>
				
				
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> ks**od </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★ </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;"> 2019-04-03  </div></li>
							
					</ul>
					</div>
					<div id="review"><p>
							먼저 사례를 너무 많이 인용했다. 저자인 찰스 두히그는 뉴욕타임스 기자로,
							 이 책을 위해 700여 편의 학술 논문을 파헤치고 300여 명이 넘는 과학자와 경영자를 인터뷰하고 수십 개 
							 기업의 연구 자료를 샅샅이 훑었다고 한다. 이 책의 후반부에는 인용한 출처를 적은 페이지만 397쪽에서 
							 463쪽까지 30장이 넘는다. 요즘 말로 TMI(Too Much Information)이다.
							그리고 타깃이 되는 독자가 누군지 불명확하다. 이 책은 세 파트로 구성되어 있는데 파트 1에서는
							 습관이 개인의 삶에 끼치는 영향에 대해 몇 가지 사례를 가지고 설명하고, 파트 2에서는 성공한 기업과 조직의 습관을 살펴보기 위해 스타벅스와 대형 병원, 
							 대형 마트 등의 사례를 소개한다. 마지막 파트 3에서는 사회의 습관을 주제로 미국에서 가장 큰 교회를 세운 젊은 목사의 사례 등이 언급된다. 
							 각 파트에 따라서 습관을 바꾸고 싶은 일반인, 소비자의 습관을 마케팅에 활용할 기업가, 습관에 대해 사람들의 행동을 연구 및 분석할 전문가
							  등으로 타깃 독자층이 달라지는 셈이다. 일반인 독자가 읽으면 초반부는 개인에 초점을 맞춘 사례이니 흥미를 끌지만, 
							반부부터는 입장만 바꿔가면서 똑같은 방식으로 사례를 분석하는 내용이 이어지기 때문에 점점 지루해지고 집중력이 흐려지는 역효과를 가져온다.
							주로 일반인 독자에게 습관을 통한 변화를 일깨우고자 하는 자기계발 서적이 이 책의 출간 목적이라면, 
							책에서 언급할 사례의 분량과 책의 구성 측면에서 ‘선택과 집중’이 필요해 보인다. 
							나도 중간까지는 몰입하다가 너무 많은 사례가 계속 같은 방식으로 언급되자 집중력을 잃고 한동안 책을 덮었다. 
							재직 중인 회사의 모 직원 책상 위에서도 이 책이 몇 개월 동안 놓여 있는 것을 보았다. 그도 나만큼 읽는 도중에 흥미를 잃었으리라.
					</p></div>
					<hr/>
				</div>
				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<footer>
	
				<ul class="headerul2">
					
					<button class="btn btn-sm">회사소개</button>
					<button class="btn btn-sm">이용약관</button>
					<button class="btn btn-sm">개인정보 처리방침</button>
					<button class="btn btn-sm">출판사를 위한안내</button>
					<button type="button" class="btn btn-sm ">광고안내</button>
					<button type="button" class="btn btn-sm ">SCM</button>
	
				</ul>
				<div id="divf1">
					
					<h1><a href="../../index.html"><img id="divf1a"src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>
	
	
					<div id="divf2">
						<p id= "divf2p1">고객문의 : 1577-4030(발신자 부담) 평일 9시~18시(토요일,일요일,공휴일 휴무)</p>
						<div id="divf3">
							<div id="divf4">
							<p>회사명 : (주)용권문고</p>
							<p>대표이사 : 허민</p>
							<p>개인정보 관리 책임자 : 양미연 김태연</p>
							<p>E-mail : drakwon_cs@bnl.co.kr</p>
							</div>
							<div id="divf5">
							<p>소재지 : 서울 송파구 중대로 135, 서관 12층 원 밀리언 드림스</p>
							<p>사업자 등록번호 : 120-81-02543</p>
							<p>통신판매업 신고번호 : 제2016-서울서초-1668호</p>
							<p>물류센터 : (우 10881)경기도 파주시 문발로 77</p>
							</div>
							
							
						</div>
						<div><p id="divf2p2">copyright ⓒ 권소영 김서연 김시경 김영훈 All Rights Reserved </p></div>
					</div>
				</div>
																	
			</footer>
			
		</div>
		
	</body>
</html>