<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>적을 만들지 않는 대화법</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="../../resources/css/template.css">
  		<script type="text/javascript">
  		$(()=>{
  			$("#btnmainInfo").click(()=>{
  				$(".mainInfo").show();
				$(".memberReview").hide();
  			});
  			
  			$("#btnmemberReview").click(()=>{
  				$(".mainInfo").hide();
				$(".memberReview").show();
		
  			});
  			
  			let var1 =0;
  			
  			$("#plus").click(()=>{
  				++var1;
  				console.log(var1);
  				$("#amount").text(var1);
  			});
  			
			$("#minus").click(()=>{
  				--var1;
  				console.log(var1);
  				if(var1<0){
  					var1 = 0;
  				}
  				$("#amount").text(var1);
  			});
  			
  		}); /*레디안에 넣어*/
  			
  		</script>
		
	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="headerul1">

					<button class="btn btn-sm">영업점안내</button>
					<button class="btn btn-sm">고객센터</button>
					<button class="btn btn-Light"><a href="../../view/admin/Update.html">수정</a></button>
					<button class="btn btn-Light"><a href="../../view/admin/Create.html">등록</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">나의쇼핑</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">쇼핑카트</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">회원가입</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">로그인</a></button>

					<br/>
				</div>


				<div id="divheader">
					<h1><a href="../../index.html"><img src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>


					<div id="divheader2">
						<input id="석봉갓" width="500px" type="text" placeholder="찾고자 하는 도서를 입력해주세요.">
						<img  src="../../resources/img/검색.PNG">
					</div>


				</div>

				<ul id="headerul2">
					<button class="btn btn-sm"><a href="../../view/list/book_list1.html">현대소설</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list2.html">자기개발서</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list3.html">해외소설</a></button>


				</ul>

			</header>
	
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="second">
				<div class="detail" id="pic1">
					<img alt="book.jpg" 
					src="http://image.kyobobook.co.kr/images/book/xlarge/582/x9788995932582.jpg" height="500px">
				</div>
				
				<div class="detail" id="info">
					<div id="detail_info">
						<ul>
							<h2> 적을 만들지 않는 대화법 </h2>
							<h4> 
								&nbsp;&nbsp;
								</h4>
							
							<li><div id="infoL">지은이 :  </div> <div id="infoR"> 샘혼</div></li>
							<li><div id="infoL">옮긴이 :  </div> <div id="infoR"> 이상원</div></li>
							<li><div id="infoL">출판사 :  </div> <div id="infoR"> 갈매나무</div></li>				

						</ul>
						<hr/>
					</div>
					
					<div id="detail_info">
						<ul>
							<li><div id="infoL">정가 : </div> <div id="infoR">12,000원</div></li>
							<li><div id="infoL">판매가격 : </div><div id="infoR">
								<div style="display: inline; font-size: 25px; color: red;">10,800원</div>
								<div style="display: inline;">[10% 할인]</div></div>
								
								</li>
							<li><div id="infoL">배송비 : </div> <div id="infoR">무료</div></li>
							
						</ul><hr/>
					</div>
					<div id="detail_info">
						<!-- 수량 업다운 자바스크립트에서 배운거로 할 수 있는건가?! -->
						
						<p  style="display: inline-block; width: 60px; margin-left: 30px; font-size: 15px;">수량 : </p>
						<p id="amount" style=" display: inline-block; width: 60px;"> 0</p>
						<button id="plus" style="background-color:#917354; color: white; "> + </button>
						<button id="minus" style="background-color:#917354; color: white; "> - </button>
						<hr/>
					</div>	
					
					<button  type="button" onclick="location.href='../cart/Cart.html' " class="btn btn-lg" 
					style="margin-left: 50px; background-color:#917354; color: white; ">장바구니 가기 </button>
					<!-- <button  type="button" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 즉시 구매하기 </button>  -->
				</div>				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="chooseBox">
				<button id="btnmainInfo" class="btn btn-lg" style="background-color:#917354; color: white; "> 상세정보 </button>
				<button id="btnmemberReview" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 회원리뷰 </button>
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="mainInfo">
				<div class ="subInfo" id="intro" style="margin-botton: 20px;"><h4> 책 소개 </h4>	<hr/>
					이 책은 공격하지 않고 우아하게 이기는 커뮤니케이션 기술을 전수한다. 
					속이 상하면 화가 나고 눈물부터 나는가? 속사포처럼 쏟아붓는 상대의 말 한마디에 반박 한번 제대로 못하고 얼굴만 붉어지는가? 
					공격을 막아내는 정신적 무술이다. 누군가 공격을 해왔다 해도 마음과 입을 잘 다스려 언어적 모욕을 당하지 않고 자신 있게 행동할 수 있게 돕는다.
					 본문은 이 텅후 법칙을 다양한 예시, 유명인들의 조언과 함께 제시한다.
					
					말 자체가 안 통하는 상대, 어떤 일이든 불평부터 하는 상대, 
					매우 분노한 사람 등을 다루고 그들로부터 협력을 이끌어내 원하는 것을 얻어내는, 거기다 늘 사람들이 따르게 하는 대화 기법을 설명한다. 
					특히 살아가면서 겪게 될 일상적인 갈등 상황이나, 상대의 공격에 바로 대처할 수 있는 구체적인 방법이 사안별로 잘 정리되어 있다.
				
				</div>
				
				<div class ="subInfo" id="writer" style="margin-bottom: 10px;"><h4> 저자 </h4><hr/>
				
					샘혼<br/>
					구분 : 저서<br/>
					국적 : 미국<br/>
					분류 : 경제/경영/자기계발 저자<br/>

				<br/>비즈니스 커뮤니케이션 전문가. 미국에서 비즈니스 컨설팅, 강연, 워크숍, 저술 등 왕성한 활동을 펼치며 높은 인기를 누리고 있다.
					 NASA, 휴렛팩커드, 포시즌스 리조트 등 미국의 유수한 기업에서 강연을 해왔으며, 2003~2004년에는 ‘뛰어난 강연자 상’을 받기도 하였다.
					  2015년에는 한국에서 열리는 제6회 아시안리더십콘퍼런스(조선일보 주최)에 연사로 초청되어 강연을 한다.
					《적을 만들지 않는 대화법 Tongue Fu!》, 《함부로 말하는 사람과 대화하는 법 Take the Bully by the Horns》, 
					《집중력, 마법을 부리다 ConZentrate》, 《설득의 언어, 엘리베이터 스피치 POP!:Stand Out in Any Crowd》, 
					《자신감, 내 인생을 바꿀 두 번째 기회 What's Holding You Back?》 등 비즈니스 커뮤니케이션 및 자기계발 
					분야에서 여러 권의 베스트셀러를 써 미국은 물론 우리나라에서도 큰 호응을 얻었다. 특히 이 책 《적을 만들지 않는 대화법》
					은 2008년 국내에 출간된 이후 독자들로부터 꾸준한 반향을 일으켰으며, 2013년에는 교보문고, 
					예스24, 알라딘 등 주요 서점 올해의 베스트셀러에 선정되기도 했다. 웹 사이트: www.SamHorn.com
				<br/><br/>
								</div>
				
				<div class ="subInfo" id="index" style="margin-bottom: 10px;"><h4> 목차 </h4>
				<hr/><p>
						추천의 글 다치지 않고 싸우지 않는 고품격 커뮤니케이션<br/>
						프롤로그 적을 만들지 않는 사람은 대화법이 다르다<br/>
						
						1부. 우아하게 이기는 방법<br/>
						2부. 하지 말아야 할 말, 해야 할 말<br/>
						3부 원하는 것을 더 많이 얻는 대화의 기술<br/>
						4부 사람을 얻는 대화법<br/>
						
						
						에필로그 확실한 성공 비결은 한 번 더 시도하는 데 있다<br/>
				</p>
					
				</div>
				
				
			</div>
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="memberReview">
				<div class ="subInfo" id="reviews" style="margin-bottom: 10px; font-family: 'NEXON Lv1 Gothic OTF Bold'; 
				color: #917354;"><h4> 회원리뷰 </h4><hr/>
				
				</div>
			
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;">wi**gen77 </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★☆☆☆☆</div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;"> 2018-07-10</div></li>
							
					</ul>
					</div>
					<div id="review"><p> 					
						추천사부터 자격미달인 책.  별 하나도 아깝다....
						
						</p></div>
					<hr/>
				</div>
				
				
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> wi**gen77 </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★ </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;">  2015-12-03 </div></li>
							
					</ul>
					</div>
					<div id="review"><p> 					
					나의 크고 많은 단점 중엔 치명적인 것들이 적지 않다. 개중엔 과연 정상적인 사회 생활이 가능할까, 
					의문이 드는 그런 것들도 존재한다. 그 중 하나가 바로 소통이다. 평상시엔 누구 못지않게 아름다운(!)
					 인간관계를 유지한다고 자부하다가도 어느 순간 특수한(!) 계기나 상황에 처하게 되면 이내 좀비가 되고 만다. 
					 우려스러운 일이 아닐 수 없다. 참말로.
 
					사람은 태어나서 죽을 때까지 끊임없이 타자와의 소통을 바탕으로 살아간다. 어느 누구도 비껴갈 수 없는 숙명이다.
					 아무리 홀로 있는 것이 좋아서, 가령 외딴 섬에서 그야말로 혼자 살아간다 하더라도 온전히 그렇게 평생 홀로 살 수는 없다. 불가능하다.
					 때문에 타자와의 소통은 삶의 질과 행복에도 중요한 영향을 미친다. 
					 타자와의 관계를 불행하게 이끌어 파국으로 끝나는 모습을 우리는 얼마나 많이 목격하는가. 
					 상대에게 상처를 주고 때로는 받으며 살아가는 것이 우리네 삶이라지만, 그것도 일정한 한계를 넘어서면 비극이 된다.
					 책은 제목 그대로다. ‘아무리 유능해도 적이 많은 사람은 성공할 수 없다’는 전제 하에, 말로 적을 만들지 않는 방법, 
					 그리고 역시 말을 통해 적을 내 편으로 만드는 방법을 소개하고 있다. 저자는 말을 통해 상대방과 일종의 대결을 펼친다는 
					 의미에서 ‘쿵푸’에서 따온 ‘텅푸(Tongue Fu)라는 용어를 만들어냈다. 일단 그럴 듯하다	
						
					</p></div>
						<hr/>
				</div>
				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<footer>
	
				<ul class="headerul2">
					
					<button class="btn btn-sm">회사소개</button>
					<button class="btn btn-sm">이용약관</button>
					<button class="btn btn-sm">개인정보 처리방침</button>
					<button class="btn btn-sm">출판사를 위한안내</button>
					<button type="button" class="btn btn-sm ">광고안내</button>
					<button type="button" class="btn btn-sm ">SCM</button>
	
				</ul>
				<div id="divf1">
					
					<h1><a href="../../index.html"><img id="divf1a"src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>
	
	
					<div id="divf2">
						<p id= "divf2p1">고객문의 : 1577-4030(발신자 부담) 평일 9시~18시(토요일,일요일,공휴일 휴무)</p>
						<div id="divf3">
							<div id="divf4">
							<p>회사명 : (주)용권문고</p>
							<p>대표이사 : 허민</p>
							<p>개인정보 관리 책임자 : 양미연 김태연</p>
							<p>E-mail : drakwon_cs@bnl.co.kr</p>
							</div>
							<div id="divf5">
							<p>소재지 : 서울 송파구 중대로 135, 서관 12층 원 밀리언 드림스</p>
							<p>사업자 등록번호 : 120-81-02543</p>
							<p>통신판매업 신고번호 : 제2016-서울서초-1668호</p>
							<p>물류센터 : (우 10881)경기도 파주시 문발로 77</p>
							</div>
							
							
						</div>
						<div><p id="divf2p2">copyright ⓒ 권소영 김서연 김시경 김영훈 All Rights Reserved </p></div>
					</div>
				</div>
																	
			</footer>
		</div>
		
	</body>
</html>