<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>연금술사</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="../../resources/css/template.css">
  		<script type="text/javascript">
  		$(()=>{
  			$("#btnmainInfo").click(()=>{
  				$(".mainInfo").show();
				$(".memberReview").hide();
  			});
  			
  			$("#btnmemberReview").click(()=>{
  				$(".mainInfo").hide();
				$(".memberReview").show();
		
  			});
  			
  			let var1 =0;
  			
  			$("#plus").click(()=>{
  				++var1;
  				console.log(var1);
  				$("#amount").text(var1);
  			});
  			
			$("#minus").click(()=>{
  				--var1;
  				console.log(var1);
  				if(var1<0){
  					var1 = 0;
  				}
  				$("#amount").text(var1);
  			});
  			
  		}); /*레디안에 넣어*/
  			
  		</script>
		
	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="headerul1">

					<button class="btn btn-sm">영업점안내</button>
					<button class="btn btn-sm">고객센터</button>
					<button class="btn btn-Light"><a href="../../view/admin/Update.html">수정</a></button>
					<button class="btn btn-Light"><a href="../../view/admin/Create.html">등록</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">나의쇼핑</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">쇼핑카트</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">회원가입</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">로그인</a></button>

					<br/>
				</div>


				<div id="divheader">
					<h1><a href="../../index.html"><img src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>


					<div id="divheader2">
						<input id="석봉갓" width="500px" type="text" placeholder="찾고자 하는 도서를 입력해주세요.">
						<img  src="../../resources/img/검색.PNG">
					</div>


				</div>

				<ul id="headerul2">
					<button class="btn btn-sm"><a href="../../view/list/book_list1.html">현대소설</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list2.html">자기개발서</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list3.html">해외소설</a></button>


				</ul>

			</header>
		
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="second">
				<div class="detail" id="pic1">
					<img alt="book.jpg" 
					src="http://image.kyobobook.co.kr/images/book/xlarge/471/x9788982814471.jpg" height="500px">
				</div>
				
				<div class="detail" id="info">
					<div id="detail_info">
						<ul>
							<h2> 연금술사 </h2>
							<h4> 파울로코엘료 장편소설
								&nbsp;&nbsp;
								</h4>
							
							<li><div id="infoL">지은이 :  </div> <div id="infoR"> 파울로 코옐료</div></li>
							<li><div id="infoL">옮긴이 :  </div> <div id="infoR"> 최정수</div></li>
							<li><div id="infoL">출판사 :  </div> <div id="infoR"> 문학동네</div></li>				

						</ul>
						<hr/>
					</div>
					
					<div id="detail_info">
						<ul>
							<li><div id="infoL">정가 : </div> <div id="infoR">9,500원</div></li>
							<li><div id="infoL">판매가격 : </div><div id="infoR">
								<div style="display: inline; font-size: 25px; color: red;">8,550원</div>
								<div style="display: inline;">[10% 할인]</div></div>
								
								</li>
							<li><div id="infoL">배송비 : </div> <div id="infoR">무료</div></li>
							
						</ul><hr/>
					</div>
					<div id="detail_info">
						<!-- 수량 업다운 자바스크립트에서 배운거로 할 수 있는건가?! -->
						
						<p  style="display: inline-block; width: 60px; margin-left: 30px; font-size: 15px;">수량 : </p>
						<p id="amount" style=" display: inline-block; width: 60px;"> 0</p>
						<button id="plus" style="background-color:#917354; color: white; "> + </button>
						<button id="minus" style="background-color:#917354; color: white; "> - </button>
						<hr/>
					</div>	
					
					<button  type="button" onclick="location.href='../cart/Cart.html' " class="btn btn-lg" 
					style="margin-left: 50px; background-color:#917354; color: white; ">장바구니 가기 </button>
					<!-- <button  type="button" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 즉시 구매하기 </button>  -->
				</div>				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="chooseBox">
				<button id="btnmainInfo" class="btn btn-lg" style="background-color:#917354; color: white; "> 상세정보 </button>
				<button id="btnmemberReview" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 회원리뷰 </button>
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="mainInfo">
				<div class ="subInfo" id="intro" style="margin-botton: 20px;"><h4> 책 소개 </h4>	<hr/>
				
				1987년 출간이후 전세계 120여 개국에서 변역되어 2,000만 부가 넘는 판매량을 기록한 파울로 코엘료의
				 『연금술사』. 청년 산티아고가 만물에 깃들인 영혼의 언어들을 하나하나 배워가는 과정을 그리고 있다. 
				 마음의 목소리에 귀를 기울이는 것이 얼마나 중요한지를 증언하고, 진정 자기 자신의 꿈과 대면하고자 하는
				  모든 이들을 축복하는 희망과 환희의 메시지를 담은 작품이다.

				신부가 되기 위해 라틴어, 스페인어, 신학을 공부한 산티아고는 어느 날 부모님의 기대를 
				저버리고 떠돌아다니기 위해 양치기가 되어 길을 떠난다. 그의 인생을 살맛나게 해주는 건 
				‘꿈이 실현되리라고 믿는 것’. 언제나 자신이 원하는 게 무엇인지 알고 있어야 한다는 늙은 왕의 말과
				 그가 건네준 두 개의 보석을 표지로 삼아 기약없는 여정에 뛰어든 그는 집시여인, 늙은 왕, 도둑, 
				 화학자, 낙타몰이꾼, 아름다운 연인 파티마, 절대적인 사막의 침묵과 죽음의 위협 그리고 마침내 
				 연금술사를 만나 자신의 보물을 찾게 되는데…….
				</div>
				
				<div class ="subInfo" id="writer" style="margin-bottom: 10px;"><h4> 저자 </h4><hr/>
				
				파울로 코엘료<br/>
				구분 : 저서<br/>
				국적 : 브라질<br/>
				분류 : 문학가 , 인문/철학자 , 수험/학습서 저자 , 기타<br/>

				<br/>전 세계 170개국 이상 82개 언어로 번역되어 2억 3천만 부가 넘는 판매를 기록한 우리 시대 가장 사랑받는 작가.
				 1947년 리우데자네이루에서 태어났다. 저널리스트, 록스타, 극작가, 세계적인 음반회사의 중역 등 다양한 방면에서 활동하다,
				  1986년 돌연 이 모든 것을 내려놓고 산티아고데콤포스텔라로 순례를 떠난다. 이때의 경험은 코엘료의 삶에 커다란 전환점이 된다. 
				  그는 이 순례에 감화되어 첫 작품 『순례자』를 썼고, 이듬해 자아의 연금술을 신비롭게 그려낸 『연금술사』로 세계적 작가의 반열에 오른다.
				   이후 『브리다』 『베로니카, 죽기로 결심하다』 『피에트라 강가에서 나는 울었네』 『악마와 미스 프랭』 『오 자히르』 『알레프』
				    『아크라 문서』 『불륜』 『스파이』 등 발표하는 작품마다 전 세계적으로 큰 반향을 일으킨다. 2009년 『연금술사』
				    로 ‘한 권의 책이 가장 많은 언어로 번역된 작가’로 기네스북에 기록되었다. 2002년 브라질 문학아카데미 회원으로 선출되었고,
				     2007년 UN 평화대사로 임명되어 활동중이다. 프랑스 정부로부터 레지옹 도뇌르 훈장을 수훈하는 등 여러 차례 국제적인 상을 받았다. 
				     2018년 신작 『히피』를 발표했다.
				<br/><br/>
				</div>
				
				<div class ="subInfo" id="index" style="margin-bottom: 10px;"><h4> 목차 </h4>
				<hr/><p>
				1부<br/>
				2부<br/>
				
				</p>
					
				</div>
				
				
			</div>
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="memberReview">
				<div class ="subInfo" id="reviews" style="margin-bottom: 10px; font-family: 'NEXON Lv1 Gothic OTF Bold'; 
				color: #917354;"><h4> 회원리뷰 </h4><hr/>
				
				</div>
			
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> gi**372  </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★</div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;"> 2019-07-05</div></li>
							
					</ul>
					</div>
					<div id="review"><p> 					
						마음의 목소리에 귀기울이는 것이 얼마나 중요한지 증언하는 고귀한 성서, 진정 자기 자신의 꿈과 대면하고자 하는 모든 이를 축복하는 희망과 환희의 메시지,
						 세계적인 밀리언셀러 작가 파울로 코엘료의 『연금술사』가 신작 『히피』 출간과 함께 새로운 표지로 선보인다.
						  현재까지 전세계 81개 언어로 번역되어 8천 5백만 독자의 사랑을 받았고, 2009년 ‘한 권의 책이 가장 많은 언어로 
						  번역된 작가’로 기네스북에 기록된 『연금술사』는 파울로 코엘료가 명실상부 세계적 작가의 명성을 얻게 한 작품이다. 
						  주인공 양치기 산티아고를 중심으로 영혼의 연금술이라는 주제를 간명하게 표현한 이번 특별판은 2018년 12월부터 한정 
						  수량으로 판매된다. ‘자아의 신화’를 찾아가는 영혼의 연금술 연금술이란 진정 무엇일까? 단지 철이나 납을 금으로 바꾸어내는 
						  신비로운 작업을 가리키는 걸까? 이 작품은 아니라고 말한다. 진정한 연금술은 만물과 통하는 우주의 
						  언어를 꿰뚫어 궁극의 ‘하나’에 이르는 길이며, 마침내 각자의 참된 운명, 자아의 신화를 사는 것이다. 마음은 늘 우리에게 말한다.
						</p></div>
					<hr/>
				</div>
				
				
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> lj**202    </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★  </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;">  2019-04-29 </div></li>
							
					</ul>
					</div>
					<div id="review"><p> 					
						파올로 코엘료는 가끔 작가인지 종교 지도자인지 궁금할 때가 있다. 실제로 그가 쓴 소설을
						 읽어도 신비스로운 체험에 대한 이야기가 많다. 이걸 일상 에세이같은 글이라면 다소 거부감이
						 들 수도 있는데 소설이라는 형식으로 사람들에게 접근하니 부담없이 받아들이게 된다. 
						그가 쓴 모든 소설을 읽었다. 최근 몇 년동안 소설을 냈는지 여부를 모르지만 그렇다. 
						워낙 괜찮은 작가라고 판단하면 전작주의로 읽기 때문이다. 영화로 제작된 소설도 있을 정도다.
						가장 유명한 소설은 누가 뭐래도 <연금술사>다. 이 책은 파올로 코엘료가 전 세계적으로
						 베스트셀러 작가로 우뚝 서게 만들었다. 연금술사는 과거부터 엄청나게 궁금증을 자아내게
						 만드는 직업이자 사람이다. 돌을 금으로 만든다는 사실은 어마하게 매력적이다. 연금술사들은
						 이를 위해 엄청나게 노력했지만 현실에서는 실패했다. 그로 인해 학문이나 과학이 발전한 것은
						 인정하지만. 오히려 문학 작품에서는 엄청난 영감을 후세에게 선사했고 재미있는 작품을 만들게 해줬다.
					</p></div>
						<hr/>
				</div>
				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<footer>
	
				<ul class="headerul2">
					
					<button class="btn btn-sm">회사소개</button>
					<button class="btn btn-sm">이용약관</button>
					<button class="btn btn-sm">개인정보 처리방침</button>
					<button class="btn btn-sm">출판사를 위한안내</button>
					<button type="button" class="btn btn-sm ">광고안내</button>
					<button type="button" class="btn btn-sm ">SCM</button>
	
				</ul>
				<div id="divf1">
					
					<h1><a href="../../index.html"><img id="divf1a"src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>
	
	
					<div id="divf2">
						<p id= "divf2p1">고객문의 : 1577-4030(발신자 부담) 평일 9시~18시(토요일,일요일,공휴일 휴무)</p>
						<div id="divf3">
							<div id="divf4">
							<p>회사명 : (주)용권문고</p>
							<p>대표이사 : 허민</p>
							<p>개인정보 관리 책임자 : 양미연 김태연</p>
							<p>E-mail : drakwon_cs@bnl.co.kr</p>
							</div>
							<div id="divf5">
							<p>소재지 : 서울 송파구 중대로 135, 서관 12층 원 밀리언 드림스</p>
							<p>사업자 등록번호 : 120-81-02543</p>
							<p>통신판매업 신고번호 : 제2016-서울서초-1668호</p>
							<p>물류센터 : (우 10881)경기도 파주시 문발로 77</p>
							</div>
							
							
						</div>
						<div><p id="divf2p2">copyright ⓒ 권소영 김서연 김시경 김영훈 All Rights Reserved </p></div>
					</div>
				</div>
																	
			</footer>
		</div>
		
	</body>
</html>