<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>기억</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="../../resources/css/template.css">
  		<script type="text/javascript">
  		$(()=>{
  			$("#btnmainInfo").click(()=>{
  				$(".mainInfo").show();
				$(".memberReview").hide();
  			});
  			
  			$("#btnmemberReview").click(()=>{
  				$(".mainInfo").hide();
				$(".memberReview").show();
		
  			});
  			
  			let var1 =0;
  			
  			$("#plus").click(()=>{
  				++var1;
  				console.log(var1);
  				$("#amount").text(var1);
  			});
  			
			$("#minus").click(()=>{
  				--var1;
  				console.log(var1);
  				if(var1<0){
  					var1 = 0;
  				}
  				$("#amount").text(var1);
  			});
  			
  		}); /*레디안에 넣어*/
  			
  		</script>
		
	</head>
	<body>
		<div id="wrapper">


			<header>
				<div id="headerul1">

					<button class="btn btn-sm">영업점안내</button>
					<button class="btn btn-sm">고객센터</button>
					<button class="btn btn-Light"><a href="../../view/admin/Update.html">수정</a></button>
					<button class="btn btn-Light"><a href="../../view/admin/Create.html">등록</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">나의쇼핑</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">쇼핑카트</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">회원가입</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">로그인</a></button>

					<br/>
				</div>


				<div id="divheader">
					<h1><a href="../../index.html"><img src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>


					<div id="divheader2">
						<input id="석봉갓" width="500px" type="text" placeholder="찾고자 하는 도서를 입력해주세요.">
						<img  src="../../resources/img/검색.PNG">
					</div>


				</div>

				<ul id="headerul2">
					<button class="btn btn-sm"><a href="../../view/list/book_list1.html">현대소설</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list2.html">자기개발서</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list3.html">해외소설</a></button>


				</ul>

			</header>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="second">
				<div class="detail" id="pic1">
					<img alt="book.jpg" 
					src="http://image.kyobobook.co.kr/images/book/xlarge/337/x9788932920337.jpg" height="500px">
				</div>
				
				<div class="detail" id="info">
					<div id="detail_info">
						<ul>
							<h2> 기억 </h2>
							<h4> 베르나르 베르베르 장편소설&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;
								</h4>
							
							<li><div id="infoL">지은이 :  </div> <div id="infoR"> 베르나르베르베르</div></li>
							<li><div id="infoL">옮긴이 :  </div> <div id="infoR"> 전미연</div></li>
							<li><div id="infoL">출판사 :  </div> <div id="infoR"> 열린책들</div></li>				

						</ul>
						<hr/>
					</div>
					
					<div id="detail_info">
						<ul>
							<li><div id="infoL">정가 : </div> <div id="infoR">14,800원</div></li>
							<li><div id="infoL">판매가격 : </div><div id="infoR">
								<div style="display: inline; font-size: 25px; color: red;">13,320원</div>
								<div style="display: inline;">[10% 할인]</div></div>
								
								</li>
							<li><div id="infoL">배송비 : </div> <div id="infoR">무료</div></li>
							
						</ul><hr/>
					</div>
					<div id="detail_info">
						<!-- 수량 업다운 자바스크립트에서 배운거로 할 수 있는건가?! -->
						
						<p  style="display: inline-block; width: 60px; margin-left: 30px; font-size: 15px;">수량 : </p>
						<p id="amount" style=" display: inline-block; width: 60px;"> 0</p>
						<button id="plus" style="background-color:#917354; color: white; "> + </button>
						<button id="minus" style="background-color:#917354; color: white; "> - </button>
						<hr/>
					</div>	
					
					<button  type="button" onclick="location.href='../cart/Cart.html' " class="btn btn-lg" 
					style="margin-left: 50px; background-color:#917354; color: white; ">장바구니 가기 </button>
					<!-- <button  type="button" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 즉시 구매하기 </button>  -->
				</div>				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="chooseBox">
				<button id="btnmainInfo" class="btn btn-lg" style="background-color:#917354; color: white; "> 상세정보 </button>
				<button id="btnmemberReview" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 회원리뷰 </button>
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="mainInfo">
				<div class ="subInfo" id="intro" style="margin-botton: 20px;"><h4> 책 소개 </h4>	<hr/>
					기억의 문이 열리고 모험이 시작된다!<br/>
					한국 독자들이 사랑하는 베스트셀러 작가 베르나르 베르베르의 신작 장편소설 『기억』(전2권)이 프랑스
					 문학 전문 번역가 전미연의 번역으로 열린책들에서 출간되었다. 꾸준히 신작을 발표해 온 베르베르는 이번에
					  〈기억〉이라는 테마로 시공간을 넘나들며 자신만의 독특한 세계관을 확장해 나간다.

					주인공 르네 톨레다노는 고등학교에서 역사를 가르치는 교사이다. 그는 센강 유람선 공연장 〈판도라의 상자〉
					에 갔다가 퇴행 최면의 대상자로 선택당한다. 최면에 성공해 무의식의 복도에 늘어선 기억의 문을 열 수 있게 된 르네. 
					문 너머에서 엿본 기억은, 제1차 세계 대전의 전장에서 목숨을 잃은 그의 전생이었다. 최면이 끝난 후에도 너무나 
					생생하고 강렬한 기억에 시달리던 그는 몸싸움에 휘말려 의도치 않게 사람을 죽이고 경찰에 자수할지 말지 고민하며 초조한 나날을 보내게 된다.

					한편 르네는 자신에게 총 111번의 전생이 있었다는 사실을 알고 제1차 세계 대전 참전병 외에도 여러 기억의 문을 열어 본다. 
					그중에서도 최초의 전생은 놀랍게도 현대인이 〈아틀란티스〉라고 부르는 전설 속의 섬에 사는 남자 게브였다. 
					아틀란티스가 바닷속에 잠겨 버렸다고 알고 있는 르네는 어떻게든 게브를 구하고 싶어 하고, 〈판도라의 상자〉
					 무대에서 만났던 최면사 오팔이 르네의 조력자를 자처한다. 현생에서는 경찰에 쫓기며 정신병자 취급을 받고,
					  전생에서는 대홍수가 예고된 가운데 과연 르네와 게브의 운명은?
					</div>
				
				<div class ="subInfo" id="writer" style="margin-bottom: 10px;"><h4> 저자 </h4><hr/>
				
				베르나르 베르베르<br/>
				구분 : 저서<br/>
				국적 : 프랑스<br/>

				<br/>베르나르 베르베르는 일곱 살 때부터 단편소설을 쓰기 시작한 타고난 글쟁이다. 1961년 프랑스 툴루즈에서 태어나
				 법학을 전공하고 국립 언론 학교에서 저널리즘을 공부했다. <별들의 전쟁> 세대에 속하는 그는, 고등학교 때 만화와 
				 시나리오에 탐닉하면서 만화로 된 신문 「유포리」를 발행하였고, 이후 올더스 헉슬리와 H. G. 웰스를 사숙하면서
				  소설과 과학을 익혔다. 대학 졸업 후에는 『르 누벨 옵세르바퇴르』에서 저널리스트로 활동하면서 과학 잡지에 개미에 
				  관한 평론을 발표해 오다가, 드디어 1991년 120여 회의 개작을 거친 『개미』를 출간, 전 세계 독자들을 사로잡으며
				   단숨에 주목받는 <프랑스의 천재 작가>로 떠올랐다.5이후에도 세계 밖에서 세계를 들여다보게 하는 『상대적이며 절대적인
				    지식의 백과사전』, 죽음과 삶을 넘나드는 영계 탐사단을 소재로 한 『타나토노트』, 인류 진화의 수수께끼를 본격적으로 탐구한
				     과학 스릴러 『아버지들의 아버지』, 천사들의 관점을 통해 무한히 높은 곳에서 인간을 관찰하는 『천사들의 제국』, 뇌에 관한
				      최신 연구 성과를 바탕으로 인간 탐구의 새로운 지평을 보여 준 『뇌』, 허를 찌르는 반전으로 우리의 상식을 깨는 
				      『나무』, 거대한 우주 범선을 타고 희망을 찾아 떠나는 14만 4천 명의 이야기 『파피용』, 신들의 게임을 통해 인간 세상을 
				      물론 전 세계적으로 가장 많이 읽히는 작가 중 한 사람으로 자리를 굳혔다. 그의 작품은 35개 언어로 번역되었으며, 
				      2천3백만 부 가까이 판매되었다
				<br/><br/>
				</div>
				
				<div class ="subInfo" id="index" style="margin-bottom: 10px;"><h4> 목차 </h4>
				<hr/><p>
					기억. 1 목차<br/>
					제1막 히프노스<br/>
					제2막 아틀란티스<br/>
					
					기억. 2 목차<br/>
					제2막 아틀란티스 (계속)<br/>
					제3막 이집트<br/>

				</p>
					
				</div>
				
				
			</div>
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="memberReview">
				<div class ="subInfo" id="reviews" style="margin-bottom: 10px; font-family: 'NEXON Lv1 Gothic OTF Bold'; 
				color: #917354;"><h4> 회원리뷰 </h4><hr/>
				
				</div>
			
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> ls**appy  </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★</div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;">  2020-06-19</div></li>
							
					</ul>
					</div>
					<div id="review"><p> 					
						이번에 우리나라에서 인기가 가장 많은 작가로 꼽히는 베스트셀러 작가인 베르나르 베르베르의 신작이 출간되었다.
						 소설은 가끔 읽는 편인데 베르나르 베르베르의 신작이라니 기대가 커서 꼭 읽어보고 싶었다. 
						 제일 먼저 마주한 표지가 참 신선했는데 아무래도 인기도 많고 신작이 나오면 많은 사람들이
						  기대하고 찾게 되는 작가라서 그런지 표지에 힘을 많이 줬다는 생각이 들었다. 보는 각도에
						   따라 얼굴이 사라졌다가 완성되었다가 하는 렌티큘러 표지인데 정말 매력적이었고, 책을 읽고 덮으면서 표지를 다시 보면 또 색다른 느낌을 받게 된다.



						오랜만에 만나는 베르나르 베르베르의 신작은 무슨 이야기를 하고 있을까? 간략히 줄거리를 이야기하자면 
						고등학교 역사 선생님인 주인공 르네 톨레다노는 센강 유람선 공연장 '판도라의 상자'에 갔다가 퇴행 최면 
						대상자로 선택되면서 심층의 기억을 살펴보는 최면에 걸리고 무의식의 복도에 있는 기억의 문을 열게 된다. 
						여기서 만나게 되는 전생은 제1차 세계 대전에 참전한 프랑스 군인이었는데 서로 죽고 죽이는 지옥을 마주한
						 충격에 뛰쳐나와 방황하던 중 살인까지 저지른다. 그리하여 경찰에 쫓기는 신세까지 되고 정신병자 취급을 받으며 정신병원에 입원하기까지 이르게 되는데..
						
						</p></div>
					<hr/>
				</div>
				
				
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> sj**fl8338 </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★ </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;">  2020-06-19 </div></li>
							
					</ul>
					</div>
					<div id="review"><p> 					
						르네는 퇴행 최면을 통해 자신의 전생들과 소통하고 고민을 해결해요. 
						심지어 전생이 가진 능력을 활용해 현실의 위기 상황을 극복하는데 다중인격과 좀 비슷하게 느껴졌어요.
						 각각의 전생을 살아가는 삶들이 뭔가 영화의 장면을 보는 듯 생생해서 놀랐어요.
						  인종과 직업이 다양했고 너무도 다른 삶을 사는 인물들이였거든요. 
						  그런데 각 전생이 살아오면서 어떤 이유로 극한의 상황이 되면 후생은 그 이유가는 되는 물건이나 
						  음식을 본능적으로 싫어하거나 반대로 좋아하게는 경우가 소름 돋았어요. 또 전생이 자신의 생을
						   살면서 다음에는 이런 삶을 살아보고 싶다는 소망이 후생이 된다는 설정도 애벌레한테는 끝인 것이 사실
						    나비한테는 시작이이라는 말의 복선이였구나 느껴지니까 책에 엄청 몰입해서 읽게 됐어요.
						     마지막 부분도 어? 이게 끝인가? 또 시작이니 다른 내용이 더 나와야하는거 아니야? 라는 생각이 들었어요.
						이것 또한 나비의 시작이겠죠?책을 다 읽으니 책의 표지가 다르게 보였어요. 초반에는 르네 아버지의 정신병원을 나타낸건가 했는데.
						...르네는 퇴행최면으로 전생을 만나면서 자료로 자신이 해석한 역사의 실체를 눈으로 보게 되고 그걸 기록하기 시작해요. 
						역사의 진실 잊지 않기 위해서요. 승리자 관점의 역사가 아닌 진실을 알리기 위해 고민하고 전생과의 만남으로 차근차근 성장하게되요. 
						그 부분을 통해 르네가 111번의 윤회를 거쳐 완벽한 영혼이 된 것 같았어요. 
						전 내 전생이 궁금했지만 전생의 기억으로 인생이 꼬이는 르네를 보면 모르는게 낫겠다는 생각이 들었어요. 
						하지만 성장하는 르네를 보면서 어쩌면 모든 전생을 기억하는 것도 인생을 살아가면서 도움이 되지 않을까하는 현실감 없는 생각도 들었어요. 
						잊혀진 다는게 단순히 있었던 일을 기억하지 못한다고만 생각했는데 잊혀진다는건 존재조차 알 수 없고
						신화가 되어 누군가가 조작할 수 있어 진실이라는게 얼마나 중요한건지 느끼게 됐어요. 
						호랑이는 죽으면 가죽을 남기고 사람이 죽으면 이름을 남긴다는 말의 의미를 좀 이해하게 됐어요.
						교과서에서 외워야할 부분만 간단히 공부하고 넘어갔던 내용을 상세하게 알게되서 좋았던 점도 있지만
						 잘 모르는 내용도 있어서 이런 부분은 좀 지루했어요. 또 인물들의 이름이 길면 중간에 누구인지 까먹게 되서
						  다시 읽어보게 되는 구간이 좀 있었어요.신화내용은 그리스로마신화 만화책으로 초등학교때 접한 내용이 
						  대부분이라 잘 모르는 신화적 내용도 있었는데 동화같은 느낌으로 잘 봤어요. 그 신화 인물을 통해 이야기가 어떻게 진행되는지 설명해주는 느낌이였어요.
						   그래서 신화인물인 누가 르네구나, 오팔이구나....짐작하게 만들어줘요.역사의 증거를 정치적인 이익을 위해 없애버리는 모습은 정말 마음이 아팠어요. 
						   지금도 일어날 수 있는 일이라는 생각이 들어서요. 그래도 포기하지 않고 새로운 시작을 하는 르네를 볼 수 있어서 좋았어요. 			
			
					</p></div>
						<hr/>
				</div>
				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<footer>
	
				<ul class="headerul2">
					
					<button class="btn btn-sm">회사소개</button>
					<button class="btn btn-sm">이용약관</button>
					<button class="btn btn-sm">개인정보 처리방침</button>
					<button class="btn btn-sm">출판사를 위한안내</button>
					<button type="button" class="btn btn-sm ">광고안내</button>
					<button type="button" class="btn btn-sm ">SCM</button>
	
				</ul>
				<div id="divf1">
					
					<h1><a href="../../index.html"><img id="divf1a"src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>
	
	
					<div id="divf2">
						<p id= "divf2p1">고객문의 : 1577-4030(발신자 부담) 평일 9시~18시(토요일,일요일,공휴일 휴무)</p>
						<div id="divf3">
							<div id="divf4">
							<p>회사명 : (주)용권문고</p>
							<p>대표이사 : 허민</p>
							<p>개인정보 관리 책임자 : 양미연 김태연</p>
							<p>E-mail : drakwon_cs@bnl.co.kr</p>
							</div>
							<div id="divf5">
							<p>소재지 : 서울 송파구 중대로 135, 서관 12층 원 밀리언 드림스</p>
							<p>사업자 등록번호 : 120-81-02543</p>
							<p>통신판매업 신고번호 : 제2016-서울서초-1668호</p>
							<p>물류센터 : (우 10881)경기도 파주시 문발로 77</p>
							</div>
							
							
						</div>
						<div><p id="divf2p2">copyright ⓒ 권소영 김서연 김시경 김영훈 All Rights Reserved </p></div>
					</div>
				</div>
																	
			</footer>
			
		</div>
		
	</body>
</html>