<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>"82년생 김지영"상세보기</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="../../resources/css/template.css">
  		<script type="text/javascript">
  		$(()=>{
  			$("#btnmainInfo").click(()=>{
  				$(".mainInfo").show();
				$(".memberReview").hide();
  			});
  			
  			$("#btnmemberReview").click(()=>{
  				$(".mainInfo").hide();
				$(".memberReview").show();
		
  			});
  			
  			let var1 =0;
  			
  			$("#plus").click(()=>{
  				++var1;
  				console.log(var1);
  				$("#amount").text(var1);
  			});
  			
			$("#minus").click(()=>{
  				--var1;
  				console.log(var1);
  				if(var1<0){
  					var1 = 0;
  				}
  				$("#amount").text(var1);
  			});
  			
  		}); /*레디안에 넣어*/
  			
  		</script>
		
	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="headerul1">

					<button class="btn btn-sm">영업점안내</button>
					<button class="btn btn-sm">고객센터</button>
					<button class="btn btn-Light"><a href="../../view/admin/Update.html">수정</a></button>
					<button class="btn btn-Light"><a href="../../view/admin/Create.html">등록</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">나의쇼핑</a></button>
					<button class="btn btn-light"><a href="../../view/cart/Cart.html">쇼핑카트</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">회원가입</a></button>
					<button class="btn btn-Light"><a href="../../view/auth/auth.html">로그인</a></button>

					<br/>
				</div>


				<div id="divheader">
					<h1><a href="../../index.html"><img src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>


					<div id="divheader2">
						<input id="석봉갓" width="500px" type="text" placeholder="찾고자 하는 도서를 입력해주세요.">
						<img  src="../../resources/img/검색.PNG">
					</div>


				</div>

				<ul id="headerul2">
					<button class="btn btn-sm"><a href="../../view/list/book_list1.html">현대소설</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list2.html">자기개발서</a></button>
					<button class="btn btn-sm"><a href="../../view/list/book_list3.html">해외소설</a></button>


				</ul>

			</header>
	
		
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="second">
				<div class="detail" id="pic1">
					<img alt="book.jpg" 
					src="http://image.kyobobook.co.kr/images/book/xlarge/135/x9788937473135.jpg" height="500px">
				</div>
				
				<div class="detail" id="info">
					<div id="detail_info">
						<ul>
							<h2> 82년생 김지영 </h2>
							<h4> 조남주 장편소설 
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;
								</h4>
							
							<li><div id="infoL">지은이 :  </div> <div id="infoR"> 조남주</div></li>
							<li><div id="infoL">출판사 :  </div> <div id="infoR"> 민음사</div></li>				

						</ul>
						<hr/>
					</div>
					
					<div id="detail_info">
						<ul>
							<li><div id="infoL">정가 : </div> <div id="infoR">13,000원</div></li>
							<li><div id="infoL">판매가격 : </div><div id="infoR">
								<div style="display: inline; font-size: 25px; color: red;">11,700원</div>
								<div style="display: inline;">[10% 할인]</div></div>
								
								</li>
							<li><div id="infoL">배송비 : </div> <div id="infoR">무료</div></li>
							
						</ul><hr/>
					</div>
					<div id="detail_info">
						<!-- 수량 업다운 자바스크립트에서 배운거로 할 수 있는건가?! -->
						
						<p  style="display: inline-block; width: 60px; margin-left: 30px; font-size: 15px;">수량 : </p>
						<p id="amount" style=" display: inline-block; width: 60px;"> 0</p>
						<button id="plus" style="background-color:#917354; color: white; "> + </button>
						<button id="minus" style="background-color:#917354; color: white; "> - </button>
						<hr/>
					</div>	
					
					<button  type="button" onclick="location.href='../cart/Cart.html' " class="btn btn-lg" 
					style="margin-left: 50px; background-color:#917354; color: white; ">장바구니 가기 </button>
					<!-- <button  type="button" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 즉시 구매하기 </button>  -->
				</div>				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="chooseBox">
				<button id="btnmainInfo" class="btn btn-lg" style="background-color:#917354; color: white; "> 상세정보 </button>
				<button id="btnmemberReview" class="btn btn-lg" style="background-color:#B8A791; color:white ; "> 회원리뷰 </button>
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			<div class="mainInfo">
				<div class ="subInfo" id="intro" style="margin-botton: 20px;"><h4> 책 소개 </h4>	<hr/>
					공포, 피로, 당황, 놀람, 혼란, 좌절의 연속에 대한 한국 여자의 인생 현장 보고서!<br/><br/>
					문학성과 다양성, 참신성을 기치로 한국문학의 미래를 이끌어 갈 신예들의 작품을 엄선한 「오늘의 젊은 작가」의
					 열세 번째 작품 『82년생 김지영』. 서민들의 일상 속 비극을 사실적이면서 공감대 높은 스토리로 표현하는 데 
					 재능을 보이는 작가 조남주는 이번 작품에서 1982년생 '김지영 씨'의 기억을 바탕으로 한 고백을 한 축으로, 
					 고백을 뒷받침하는 각종 통계자료와 기사들을 또 다른 축으로 삼아 30대를 살고 있는 한국 여성들의 보편적인 일상을 완벽하게 재현한다.
					<br/><br/>
					슬하에 딸을 두고 있는 서른네 살 김지영 씨가 어느 날 갑자기 이상 증세를 보인다. 
					시댁 식구들이 모여 있는 자리에서 친정 엄마로 빙의해 속말을 뱉어 내고, 남편의 결혼 전 애인으로 빙의해 그를 식겁하게 만들기도 한다.
					 이를 이상하게 여긴 남편이 김지영 씨의 정신 상담을 주선하고, 지영 씨는 정기적으로 의사를 찾아가 자신의 삶을 이야기한다.
					  소설은 김지영 씨의 이야기를 들은 담당 의사가 그녀의 인생을 재구성해 기록한 리포트 형식이다.
					   리포트에 기록된 김지영 씨의 기억은 ‘여성’이라는 젠더적 기준으로 선별된 에피소드로 구성된다.
					<br/><br/>
					1999년 남녀차별을 금지하는 법안이 제정되고 이후 여성부가 출범함으로써 성평등을 위한 제도적 장치가 마련된 이후,
					 즉 제도적 차별이 사라진 시대에 보이지 않는 방식으로 존재하는 내면화된 성차별적 요소가 작동하는 방식을 보여 준다.
					  지나온 삶을 거슬러 올라가며 미처 못다 한 말을 찾는 이 과정은 지영 씨를 알 수 없는 증상으로부터 회복시켜 줄 수 있을까?
					   김지영 씨로 대변되는 ‘그녀’들의 인생 마디마디에 존재하는 성차별적 요소를 핍진하게 묘사하고 있다.
										
					<br/><br/>
				</div>
				
				<div class ="subInfo" id="writer" style="margin-bottom: 10px;"><h4> 저자 </h4><hr/>
		
					조남주 <br/>
					구분 : 저서<br/>
					국적 : 대한민국<br/>
					분류 : 문학가 , 기타<br/>
					인기지수 : 14,598<br/><br/>
					
					최근저서<br/>
					ㆍ[저서]귤의 맛<br/>
					ㆍ[저서]KIM JIYOUNG BORN 1982<br/>
					ㆍ[저서]사하맨션<br/>
					ㆍ[저서]가출<br/>
					1978년 서울 출생. 2011년 제17회 문학동네소설상에 장편소설 
					『귀를 기울이면』이 당선되면서 작품활동을 시작했다. 제2회 황산벌청년문학상,
					 제41회 오늘의작가상을 수상했다. 장편소설 『고마네치를 위하여』『82년생 김지영』, 페미니즘 테마소설집 『현남 오빠에게』가 있다였다.
									
				<br/><br/>
				</div>
				
				<div class ="subInfo" id="index" style="margin-bottom: 10px;"><h4> 목차 </h4>
				<hr/><p>
					2015년 가을<br/>
					1982년~1994년<br/>
					1995년~2000년<br/>
					2001년~2011년<br/>
					2012년~2015년<br/>
					2016년<br/>
				</p>
					
				</div>
				
				
			</div>
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<div class="memberReview">
				<div class ="subInfo" id="reviews" style="margin-bottom: 10px; font-family: 'NEXON Lv1 Gothic OTF Bold'; 
				color: #917354;"><h4> 회원리뷰 </h4><hr/>
				
				</div>
			
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> js**55  </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★☆ </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;"> 2019-12-22 </div></li>
							
					</ul>
					</div>
					<div id="review"><p>
							82년생 김지영만 아니라 이 나라 모든 김지영, 모든 여자들의 이야기.
							이 소설을 영화로 만든 게 대박이다. 이 영화를 보는 사람들은 누굴까. 여자가 더 많겠지만 남자도 많기를 바란다.
							 아직은 우리나라는 남자가 살기 좋은 세상이니까. 사실 세계라고 해야 할 것이다.
							아직은 이 세계는 남자들이 살기 좋은 세계이므로.
							결혼 후 경력단절로 점점 비쳐가는 여자들의 삶이라고 간단히 말해지지 않는 복잡함이 있다.
							 
							김지영은 작고 움츠러졌고, 두려워한다. 자신의 그림자조차 두려움의 대상이다. 책 표지 그림이 말해준다.
							다큐소설 같은 이 소설을 읽으면서 답답하다.
							흥미진진 박진감 넘치는 건 없지만 외면하고도 싶은 소설이다.
							실제적인 통계자료를 내놓기도 할 때도 있다. 물론 소설에서도 사실을 바타응로 하거나 사실을 배경을 깔기도 한다.
							 어느 통계자료에 보면 결혼 후 가사분담의 비율이 이렇다, 뭐 이런 식의 통게자료도 필요할 것이다.
							  읽으면서 좀 시시하다고 생각됐다. 소설이라고여겨지지 않고 이건 여전히 우리 현실이잖아 하고. 
					</p></div>
					<hr/>
				</div>
				
				
				<div class="set">
					<div id="pic2">
					<ul  style="list-style: none; ">
							<li><div style="display:inline-block; width: 40px;" >ID : </div> <div style="display:inline;"> cr**yminz </div></li>
							<li><div style="display:inline-block; width: 40px;">별점 : </div> <div style="display:inline;"> ★★★★★ </div></li>
							<li><div style="display:inline-block; width: 40px;">날짜 : </div> <div style="display:inline;">  2019-12-17  </div></li>
							
					</ul>
					</div>
					<div id="review"><p>
							이 책만큼 사회에 '뜨거운 감자'를 제기한 책은 몇 안 될 것이다. 
							공지영 작가의 책이 몇 번 그랬던 것 같기는 하다. 페미니즘의 관심이 커지던 최근, 
							이 책은 여성의 삶에 녹아들어 있는 차별이 얼마나 미묘하게 작용하는지를 보여주려는
							 데 목적이 있는 듯하다. 김지영이라는 인물의 삶을 그려내기는 하는데 이 인물의 개별성을 드러내지는 않는다.
							  책의 제목에서 '82년생'이라는 데에서 알 수 있뜻, 김지영은 한 세대의 대표자로서 그려지는 것이기 때문에,
							   개별성이 아닌 보편성을 띤다. 즉, 작가는 김지영이라는 인물을 통해 '82년생'과 '한 세대'로 엮일 수 있는 여성들이 공감할 수 있는,
							    그들이 매일매일 삶 속에서 겪으면서 때로는 고통에 몸서리치고 때로는 그것이 차별인지도 알 수 없는 
							    그러한 차별을 보여주고 모두에게 생각해보자고 제안하고 있는 듯하다.
					</p></div>
					<hr/>
				</div>
				

				
			</div>
			
			<!-- --------------------------------------------------------------------------------------------------------------- -->
			
			<footer>
	
				<ul class="headerul2">
					
					<button class="btn btn-sm">회사소개</button>
					<button class="btn btn-sm">이용약관</button>
					<button class="btn btn-sm">개인정보 처리방침</button>
					<button class="btn btn-sm">출판사를 위한안내</button>
					<button type="button" class="btn btn-sm ">광고안내</button>
					<button type="button" class="btn btn-sm ">SCM</button>
	
				</ul>
				<div id="divf1">
					
					<h1><a href="../../index.html"><img id="divf1a"src="../../resources/img/omd.png" width="350px" height="100px"></a></h1>
	
	
					<div id="divf2">
						<p id= "divf2p1">고객문의 : 1577-4030(발신자 부담) 평일 9시~18시(토요일,일요일,공휴일 휴무)</p>
						<div id="divf3">
							<div id="divf4">
							<p>회사명 : (주)용권문고</p>
							<p>대표이사 : 허민</p>
							<p>개인정보 관리 책임자 : 양미연 김태연</p>
							<p>E-mail : drakwon_cs@bnl.co.kr</p>
							</div>
							<div id="divf5">
							<p>소재지 : 서울 송파구 중대로 135, 서관 12층 원 밀리언 드림스</p>
							<p>사업자 등록번호 : 120-81-02543</p>
							<p>통신판매업 신고번호 : 제2016-서울서초-1668호</p>
							<p>물류센터 : (우 10881)경기도 파주시 문발로 77</p>
							</div>
							
							
						</div>
						<div><p id="divf2p2">copyright ⓒ 권소영 김서연 김시경 김영훈 All Rights Reserved </p></div>
					</div>
				</div>
																	
			</footer>
								
		</div>
		
	</body>
</html>