@charset "UTF-8";

body {
				background-color: #f1f3f5;
			
			
			}
			
			#wrapper {
				margin: 50px auto;
				width: 600px;
				height: 700px;
				background-color: #ffffff;
				padding:20px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				/* box shadow는 이걸로 하자 이게 제일 남*/
			}
			#omd{
				width:550px;
				height: 200px;
			
			}
			
			
			
			.loginForm10{
				
				margin-bottom: 10px;
			
			}
			#join{
				text-align: center;
				font-size:large;
				color:white;
				height:50px;
				background-color: #917354;
				margin:5px;
				padding: 15px;
				display : inline-block;
				border: 1px solid white;
				width: 540px;
				margin-left: 10px;
				padding-bottom: 5px;
			
			}
			.loginForm1 {
				
				margin-bottom: 10px;
			
			}
			.loginForm1 button{
				text-align: center;
				font-size:large;
				color:white;
				height:50px;
				background-color: #917354;
				margin:5px;
				padding: 15px;
				display : inline-block;
				border: 1px solid white;
				width: 540px;
				margin-left: 10px;
				padding-bottom: 5px;
			
			}
			.loginForm1 a{
				text-align: center;
				font-size:large;
				color:white;
				height:50px;
				background-color: #917354;
				margin:5px;
				padding: 15px;
				display : inline-block;
				border: 1px solid white;
				width: 540px;
				margin-left: 10px;
				padding-bottom: 5px;
			
			}
			
			
			#input1{
				margin-top:30px;
				margin-left: 30px;
				margin-bottom: 30px;
			}
			
			#wrapper input{
				
				width:500px;
				height: 50px;
				
				display:block;
				
				}
				
			
		
			#form2{
			
				
			}
			
			#form3{
				display:flex;
			
			}
			
			#form3 div{
				border : 4px solid #917354;
				flex:1;
				padding-top : 15px;
				margin : 5px;
				
			}
			#form3 div p{
				text-align: center;
			}
			
			
			#qr2{
				text-align: center;
				
			}
			
			#qr3{
				border : 1px solid lightgrey;
				padding:20px;
				margin: 20px;
				width:300px;
				margin-left: 120px;
			
			}
			#qr4{
				border : 4px solid #917354;
				width:300px;
				padding-top : 15px;
				margin : 5px;
				margin-left: 120px;
				
			}
			#qr4 a{
			
				color:black;
				text-decoration: none;
				
			}


